trigger: none

resources:
  pipelines:
    - pipeline: pipelineA # Es un sobrenombre nada m치s (Puede ser papitafritaba침adaencocholate si quiero)
      source: MAONLY2410.testprojectcore # Este debe coincidir con el nombre del primer pipeline (Nombre con el cual esta registrado el pipeline en el proyecto)
      trigger:
        branches:
          include:
            - main

pool:
  name: Local2Pool

variables:
  fullTimestamp: $[format('{0:yyyyMMdd}-{0:HHmmss}', pipeline.startTime)]

jobs:
- job: GitLogUpdate
  displayName: 'Generar y subir Maxito.log'
  steps:
  - checkout: self
    persistCredentials: true # Necesario para hacer push a GitHub

  - script: |
      git config --global user.email "bymynynimonya@gmail.com"
      git config --global user.name "MAONLY2410"

      git checkout main
      git pull --rebase origin main

      echo "Timestamp: $(fullTimestamp)" > Maxito.log
      echo "Archivos modificados respecto a origin/main:" >> Maxito.log
      git diff origin/main --name-only >> Maxito.log
      echo "" >> Maxito.log
      echo "Archivos nuevos agregados (sin seguimiento):" >> Maxito.log
      git ls-files --others --exclude-standard >> Maxito.log
      git add Maxito.log
      git commit -m "Actualizaci칩n autom치tica - $(fullTimestamp) [skip ci]"
      git push origin HEAD:main